* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
  font-family: "Comic Sans MS", sans-serif, serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin: 10px;
}

p {
  text-align: justify;
  margin: 20px;
  font-size: 125%;
}

a {
  text-align: center;
  font-size: 125%;
}

header {
  background-color: #999999;
  border: 5px solid black;
}

div {
  float: left;
}

section {
  border: 5px solid black;
  margin: 15px;
  background-color: #999999;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}
